@font-face {
    font-family: "Romantic";
        src: url("fonts/ROMANTIC.TTF");
}

@font-face {
    font-family: "Young";
        src: url("fonts/YoungSerif-Regular.ttf");
}

body{
    background-color: #b7b7e2;
    background-image: linear-gradient(to left, #c4c9ee,#b7b7e2);
    margin: 20px;
}

h1{
    color: #82fdff;
    font-family: Romantic;
    padding-bottom: 0px;
    padding-left: 40px;
    padding-right: 30px;
    font-size: 120px;
   }

h2{
    color: rgb(255, 107, 14);
    font-family: Romantic;
    padding-bottom: 0px;
    padding-left: 40px;
    padding-right: 30px;
    font-size: 100px;
    text-align: left;
   }

h3{
    color: #de118b;
    font-family: Romantic;
    padding-bottom: 0px;
    padding-left: 40px;
    padding-right: 30px;
    font-size: 120px;
    text-align: center;
   }

h4 {
    font-family: Young;
    color:#142544;
    font-size: 20px; 
    text-align: left;
}
   
p{
    font-family: Young;
    color:#142544;
    font-size: 20px; 
    text-align: left;
    width: 60%;
    max-width: 60%;
    padding-left: 15px;
}

.home{
    position: relative;
    font-family: Young;
    color:#142544;
    font-size: 20px; 
    text-decoration: none;
    padding: 20px;
    line-height: 15px;
    background-color: #82fdff;
}

.home:hover{
    background-color:#142544;
    color: #82fdff;
  }

.key{
    font-family: Young;
    color:#142544;
    font-size: 25px; 
    text-decoration: none;
}

.key:hover{
    color: #712291;
  }

.rectangle {
    height: 75px;
    max-width: 2000px;
    background-color:#82fdff;
    padding: 20px;
  }

.tracking-in-expand-fwd{-webkit-animation:tracking-in-expand-fwd .8s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand-fwd .8s cubic-bezier(.215,.61,.355,1.000) both}
@-webkit-keyframes tracking-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-700px);transform:translateZ(-700px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes tracking-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-700px);transform:translateZ(-700px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: top;}


/* GRID */
.item1 { grid-area: pro1; }
.item2 { grid-area: pro2; }
.item3 { grid-area: pro3; }

.grid-container {
  display: grid;
  grid-template-areas:
    'pro1 pro2'
    'pro3 0';
  gap: 20px;
  padding: 20px;
}

.grid-container > div {
  text-align: left;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #b7b7e2;
    color: #142544;
    background-color: #b7b7e2;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Young;
  }
  
  input[type=submit] {
    width: 70%;
    background-color: #b7b7e2;
    color: #142544;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Young;
  }
  
  input[type=submit]:hover {
    background-color: #712291;
    color: #b7b7e2;
    font-family: Young;
  }
  
  div {
    border-radius: 5px;
    padding: 20px;
  } */


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Sound Design explanation text */
.text {
  font-size: 20px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 40px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
  font-family: Young;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 90px;
  width: 90px;
  padding-top: 22px;
  padding-left: 22px;
  margin-left: 35px;
  margin-bottom: 30px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.4s ease;
  font-size: 30px;
}

.active, .dot:hover {
  background-color:#82fdff;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
/* @media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
} */